main.container,
.card {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-filter {
    display: flex;
    justify-content: space-between;
}
.form-filter > div {
    margin: 0 10px;
}

.form-update {
    display: flex;
    flex-direction: column;
}
